{% extends 'homepage.html' %}
{% block addcss %}
    <link rel="stylesheet" href="{{url_for('static',filename='table.css')}}">
{%endblock addcss %}
{% block content %}
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>view</th>
                <th>Download </th>
                
            </tr>
        </thead>
        <tbody>
            {% for i in data %}
            <tr>
                <td>{{i[1]}}</td>
                <td><a href="{{url_for('viewfid',uid=i[0])}}">view</a></td>
                <td><a href="{{url_for('download',uid=i[0])}}">Download</a></td>
                <td><a href="{{url_for('delfile',uid=i[0])}}">delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock content %}